body {
  text-align: center;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 5px;
  transition: all ease 0.2s;
  background-color: deepskyblue;
}

button:hover {
  background-color: lightskyblue;
}